:root {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply font-sans;
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
  }

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--gray-1);
    color: var(--gray-12);
    transition: background-color 0.3s ease, color 0.3s ease;
}